@charset "UTF-8";

body{
	margin:0px;
	padding:0px;
	font-family:"微软雅黑";
	background-color:#F2EFE6;
}

a{text-decoration:none;}

.container{
	width:100%;
	overflow:hidden;
	position:absolute;
	padding:0;
	margin:0;
}

.zw{
	width:1000px;
	height:700px;
	margin:0 auto;
	text-align:center;
	font-size:18px;
	border:1px solid red;	
}

.kh{
	height:20px;
/*	border:1px solid blue;*/
}

.juzhong{
	width:400px;
	height:30px;
/*	border:1px solid blue;*/
	text-align:center;
	margin:0 auto;
}

.liebiao{
	width:400px;
	height:150px;
	border:1px solid blue;
	text-align:center;
	margin:0 auto;
}

.liebiaochang{
	width:400px;
	height:600px;
	border:1px solid blue;
	text-align:center;
	margin:0 auto;
	border:1px solid green;
}

.liebiao2{
	width:400px;
	height:300px;
	border:1px solid blue;
	text-align:center;
	margin:0 auto;
}


.pianzuo{
	float:left;
	margin-left:20px;
	margin-top:10px;
}

.a1{
	 width:400px;
	 height:40px;	 
	 text-algin:center;
	 margin:0 auto;
/*	 border:1px solid red;*/
}

.a2{
	width:400px;
	height:40px;
	margin:0 auto;
	text-align:center;
	border:1px solid green;
}

.a2_1{
	width:100px;
	height:40px;
	float:left;
	margin-left:30px;
/*	border:1px solid green;*/
}

.a2_2{
	width:200px;
	height:40px;
	text-align:center;
	float:left;
/*	border:1px solid green;*/
}
